<div class="container" style="min-height: 500px;">
    <table class="table table-striped table-hover">
      <colgroup>
        <col width="8%" />
        <col width="8%" />
        <col width="15%" />
        <col width="*" />
        <col width="8%" />
        <col width="15%" />
      </colgroup>
      <thead id ="table-contents">
        <tr>
            <th scope="col"><input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1"></th>
            <th scope="col">업체구분</th>
            <th scope="col">상호명</th>
            <th scope="col">주소</th>
            <th scope="col">영업상태</th>
            <th scope="col">전화번호</th>
        </tr>
      </thead>
      <tbody id="article-list">
        <!-- 게시글 목록 -->
        <tr>
            <td><input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1"></td>
            <td>카페</td>
            <td>베로에스프로세소</td>
            <td>대구광역시 동구 경대로 96 (신암동)</td>
            <td>영업</td>
            <td>053 802 9317</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="justify-content-center">
    <ul class="pagination justify-content-center">
      <!-- 페이지네이션 -->
    </ul>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-danger" id="deleteBtn">삭제</button>
  </div>
</div>