<div class="container" style="min-height: 500px;">
    <table class="table table-striped table-hover">
      <colgroup>
        <col width="8%" />
        <col width="8%" />
        <col width="15%" />
        <col width="*" />
        <col width="8%" />
        <col width="18%" />
      </colgroup>
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nick</th>
          <th scope="col">카테고리</th>
          <th scope="col">제목</th>
          <th scope="col">조회수</th>
          <th scope="col">작성날짜</th>
        </tr>
      </thead>
      <tbody id="article-list">
        <!-- 게시글 목록 -->
      </tbody>
    </table>
  </div>
  <div class="justify-content-center">
    <ul class="pagination justify-content-center">
      <!-- 페이지네이션 -->
    </ul>
  </div>
  <div class="d-flex justify-content-end">
    <div sec:authorize="hasRole('ADMIN')">
      <button type="button" class="btn btn-primary me-2" id="writing_notice" onclick="location.href='/board/writing/notice'">공지글쓰기</button>
    </div>
    <button type="button" class="btn btn-primary" id="writing" onclick="location.href='/board/writing'">글쓰기</button>
  </div>
</div>