<div class="container" style="min-height: 500px;">
    <table class="table table-striped table-hover">
      <colgroup>
        <col width="8%" />
        <col width="8%" />
        <col width="15%" />
        <col width="*" />
        <col width="8%" />
        <col width="18%" />
      </colgroup>
      <thead id ="table-contents">
        <!-- 테이블 헤더 -->
      </thead>
      <tbody id="article-list">
        <!-- 게시글 목록 -->
      </tbody>
    </table>
  </div>
  <div class="justify-content-center">
    <ul class="pagination justify-content-center">
      <!-- 페이지네이션 -->
    </ul>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-danger" id="deleteBtn">삭제</button>
  </div>
</div>